<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png" />

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <a th:href="@{/}">
                                <img src="../../images/logo.svg" alt="logo">
                            </a>
                        </div>
                        <h4>New here?</h4>
                        <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

                        <!-- form -->
                        <form class="pt-3" th:action th:method="POST" th:object="${member}">
                            <div class="form-group">
                                <input type="text" th:field="*{userName}" placeholder="이름" class="form-control form-control-lg">
                                <p th:errors="*{userName}" class="field-error mt-2"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" th:field="*{userId}" placeholder="ID : 5자 이상 15자 이하" class="form-control form-control-lg">
                                <p th:errors="*{userId}" class="field-error mt-2"></p>
                            </div>
                            <div class="form-group">
                                <input type="password" th:field="*{password}" placeholder="비밀번호 : 8자 이상" class="form-control form-control-lg">
                                <p th:errors="*{password}" class="field-error mt-2"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" th:field="*{email}" placeholder="Email" class="form-control form-control-lg"> <br>
                            </div>
                            <div class="mt-3">
                                <input type="submit" value="SIGN UP" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                이미 회원이신가요? <a href="/members/login" class="text-primary">Login</a>
                            </div>
                        </form>
                        <!-- form -->

                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>
<!-- endinject -->
</body>

</html>