<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<div layout:fragment="content">
    <div class="card mb-lg-3">
        <div class="card-body">
            <div class="mb-lg-4">
                <h1 th:text="|${member.userName} 님|" class="card-title mr-1 ml-2" style="display: inline"></h1>
                <span class="btn-primary mr-2 mb-3" th:text="${member.grade}"></span>
            </div>

            <div class="table-responsive mt-lg-3">
                <table class="table">
                    <tr>
                        <th>id</th>
                        <td th:text="${member.userId}">id</td>
                    </tr>

                    <tr>
                        <th>이름</th>
                        <td th:text="${member.userName}">이름></td>
                    </tr>

                    <tr>
                        <th>이메일</th>
                        <td th:text="${member.email}">이메일</td>
                    </tr>
                </table>
            </div>

            <hr>

            <div class="text-right mt-lg-3">
                <button th:onclick="|location.href='@{/members/update/{userId}(userId=${member.userId})}'|"
                    class="btn btn-outline-secondary btn-icon-text btn">수정</button>
            </div>
        </div>
    </div>
</div>

</html>