<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>

    <h1>회원 목록</h1>

    <fieldset>
    <legend>조회</legend>
        <form th:object="${memberSearch}" th:action>
            <label for="userId">아이디 : </label>
            <input type="text" th:field="*{userId}"> <br>

            <label for="userName">이름 : </label>
            <input type="text" th:field="*{userName}"> <br>

            <select th:field="*{grade}">
                <option value="">등급</option>
                <option th:each="grade : ${grades}"
                        th:value="${grade.name()}"
                        th:text="${grade.getDescription()}">등급</option>
            </select>

            <hr>

            <input type="submit" value="조회">

        </form>
    </fieldset>

    <hr>

    <table border="1">
        <tr>
            <th>번호</th>
            <th>id</th>
            <th>이름</th>
            <th>이메일</th>
            <th>등급</th>
        </tr>

        <tr th:each="member : ${members}">
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">번호</a></td>
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">id</a></td>
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">이름</a></td>
            <td th:text="${member.email}">이메일</td>
            <td th:text="${member.grade}">등급</td>
        </tr>
    </table>

    <hr>

    <a th:href="@{/}">홈 화면으로</a>

</body>
</html>