<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>

    <h1>회원 목록</h1>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>id</th>
            <th>이름</th>
            <th>이메일</th>
            <th>등급</th>
        </tr>

        <tr th:each="member : ${members}">
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">번호</a></td>
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">id</a></td>
            <td><a th:href="@{/members/{userId}(userId=${member.userId})}" th:text="${member.userId}">이름</a></td>
            <td th:text="${member.email}">이메일</td>
            <td th:text="${member.grade}">등급</td>
        </tr>
    </table>

    <hr>

    <a th:href="@{/}">홈 화면으로</a>

</body>
</html>