<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>홈 화면</h1>

    <div th:if="${session.LOGIN_MEMBER != null}" >
        <h3 th:text="|${session.LOGIN_MEMBER.userName}님 환영합니다!|"></h3>
        <hr>
    </div>

    <div th:if="${session.LOGIN_MEMBER == null}">
        <button th:onclick="|location.href='@{/members/login}'|">로그인</button>
        <button th:onclick="|location.href='@{/members/add}'|">회원가입</button>
    </div>

    <div th:if="${session.LOGIN_MEMBER}">
        <button th:onclick="|location.href='@{/members/logout}'|">로그아웃</button>
    </div>
    <hr>

    <a th:if="${session.LOGIN_MEMBER != null and
                session.LOGIN_MEMBER.getGrade() == T(practice.board.domain.member.Grade).ADMIN}"
       th:href="@{/members}">회원 목록</a>


</body>
</html>